<strong>Olá, {{deliveryman}}</strong>
<p>O produto abaixo foi cancelado:</p>
<p>
    <strong>Produto: {{product}}</strong> <br />
    <strong>Problema: {{problem}}</strong> <br />
    <br />
    <small>
        Para maiores informacões ligue para a central de atendimento FastFeet
    </small>
</p>