<strong>Olá, {{deliveryman}}</strong>
<p>O produto ja esta disponivel para retirada</p>
<p>
    <strong>Produto: {{product}}</strong> <br />
    <br />
    <small>
        Lembre-se o horario de retirada é das 08:00 as 18:00
    </small>
</p>